@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
    --primary-color: #34c94b;
    --white-color: #ffffff;
    --black-color: #121212;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif !important;
}

body {
    background-color: var(--black-color);
}