.heroSection {
  width: 100vw;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroSection h1 {
  color: var(--white-color);
}

@media (max-width: 600px) {
  .heroSection {
    flex-direction: column-reverse;
    height: 220px;
  }
  .heroSection img {
    width: 130px;
    height: 130px;
  }
  .heroSection h1 {
    font-size: 20px;
  }
}

@media (min-width: 601px) and (max-width: 850px) {
  .heroSection h1 {
    font-size: 20px;
  }
  .heroSection div {
    margin-left: 20px;
  }
}
