/* TopAlbum Component */

#topAlbum {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 20px;
}

.topAlbumContainer {
    margin: 35px;
}

.topAlbumHeading {
    display: flex;
    justify-content: space-between;
}

.topAlbumHeading p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: var(--white-color);
}

.showAll {
    color: var(--primary-color) !important;
    cursor: pointer;
}


/* AlbumCard Component */

.card {
    width: 160px;
    height: 235px;
}

.cardImg {
    width: 160px;
    height: 208px;
    background-color: var(--white-color);
    border-radius: 15px 15px 10px 10px;
}

.cardImg img {
    width: inherit;
    height: 170px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.cardImg p {
    display: inline-block;
    height: 23px;
    font-size: 10px;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
}

.card div h3 {
    font-size: 14px;
    font-weight: 500;
    color: var(--white-color);
    margin-top: 5px;
}